.expense-table, .groups-table{
    border: 1px solid black;
}

th, td {
    border: 0.5px solid gray;
    padding: 5px 10px;
}

.cta{
    font-size: 1rem;
    margin-right: 5px;
    padding:3px;
    background-color: lightgray;
    text-decoration: none;
    color: black;
    border: 1px solid;
    border-radius:5px;
    cursor:default;
    display:inline-block
}
.cta-form{
    display:inline-block;
}

section{
    margin-top:10px;
}

.expense-input, .analytics-input, .credentials-input {
    margin-bottom: 10px;
}

