{% extends "layout.html" %}

{% block content %}
<header>
    <h1>List of Expenses</h1>
</header>
<main>
<section>
<!-- TODO: Add Expemse / Analytics CTAs -->
    <a class="cta" href="{{ url_for('new_expense_view') }}">&nbsp;&plus; Add Expense</a>
    <a class="cta" href="#">Analytics</a>
</section>
<section>
{% if not expenses %}
    <p>No expenses yet, feel free to add some</p>
{% else %}
    <table class="expense-table">
        <thead>
            <tr>
                <th>Transction Date / Time</th>
                <th>Amount (USD)</th>
                <th>Description</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expenses %}
                <tr class="row">
                    <td>{{ expense.transaction_datetime.strftime('%Y-%m-%d %H:%M') }}</td>
                    <td>{{ "$%.2f"|format(expense.amount_usd) }}</td>
                    <td>{{ expense.description }}</td>
                    <td>{{ expense.category_name if expense.category_name else '' }}</td>
                    <td>
                        <a class="cta" href="{{ url_for('edit_expense_view', expense_id=expense.id) }}" >Edit</a>  <!-- TODO : add Edit route link -->
                        <form class="cta-form" method="POST" action="{{ '#' }}"> <!-- TODO : add Delete route link -->
                            <input type="hidden" name="expsense_id" value="{{ expense.id }}">
                            <button class="cta" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
</section>

</main>
{% endblock %}