{% extends "layout.html" %}

{% block content %}
<header>
    <h1>List of Expenses</h1>
</header>
<main>
<section>
    <a class="cta" href="{{ url_for('new_expense_view') }}">&nbsp;&plus; Add Expense</a>
    <a class="cta" href="{{ url_for('analytics_view') }}">Analytics</a>
</section>
<section>
{% if not expenses %}
    <p>No expenses yet, feel free to add some</p>
{% else %}
    <table class="expense-table">
        <thead>
            <tr>
                <th>Transction Date / Time</th>
                <th>Amount (USD)</th>
                <th>Description</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expenses %}
                <tr class="row">
                    <td>{{ expense.transaction_datetime }}</td>
                    <td>${{ expense.amount_usd | to_currency }}</td>
                    <td>{{ expense.description }}</td>
                    <td>{{ expense.category_name if expense.category_name else '' }}</td>
                    <td>
                        <a class="cta" href="{{ url_for('edit_expense_view', expense_id=expense.id) }}">Edit</a>
                        <form class="cta-form" method="POST" action="{{ url_for('delete_expense', expense_id=expense.id) }}">
                            <button class="cta" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
</section>

</main>
{% endblock %}